/* Reset CSS */
:root {
	--red-primary: #EB1D36;
	--red-02: #D34240;
	--red-03: #EC5853;
	--red-04: #FF7C70;
	--red-05: #FFBFAF;
	--red-06: #FFDFD0;
	--red-oscuro: #C90018;
	--turquesa-oscuro: #0C8284;
	--turquesa-01: #27A3A5;
	--turquesa-02: #28B9B7;
	--turquesa-03: #B0E8E3;
	--crema: #FFDFD0;
	--gris-claro: #F9F9F9;
	--gris-01: #D9D9D9;
	--gris-02: #BABABA;
	--gris-03: #8B8B8B;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Reglas globales de etiqueta */

body {
	/* Herencia */
	font-family: 'Inter', sans-serif;
	font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito', sans-serif;
}

h1 {
	font-size: 36px;
	font-weight: 900;
}

h2 {
	font-size: 30px;
	font-weight: bold;
}

h3 {
	font-size: 28px;
	font-weight: bold;
}

h4 {
	font-size: 24px;
	font-weight: 700;
}

a {
	text-decoration: none;
	color: white;
}

p {
	font-size: 18px;
	line-height: 25px;
}

footer {
	background-color: var(--red-primary);
}

.text-red {
	color: var(--red-primary);
}

.text-white {
	color: white;
}

.text-black {
	color: black;
}

.text-bold {
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.legals {
	font-size: 14px;
}

.container {
	padding: 0 20px 0 20px;
	margin: auto;
}

/* Reglas globales de clase / componentes */

.btn {
	border-radius: 10px;
	font-weight: bold;
	color: white;
	border: none;
	font-size: 20px;
	cursor: pointer;
	padding: 8px;
	width: 180px;
	transition: .2s;
}

.btn:hover {
	transform: scale(1.03);
}

.primary-btn {
	background-color: var(--red-primary);
}

.primary-btn:hover {
	background-color: #C90018;
}

.second-btn {
	background-color: var(--turquesa-oscuro);
}

.second-btn:hover {
	background-color: #27A3A5;
}

.alternative-btn {
	background-color: white;
	color: var(--red-primary);
	border: 2px solid var(--red-primary);
}

.alternative-btn:hover {
	color: #C90018;
	border: 2px solid #C90018;
}
/* Reglas de clase específicas */

/* INICIO NAVBAR */
.navbar {
	padding: 0 20px;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 170px;
}

.toggler {
	cursor: pointer;
	position: absolute;
	right: 2rem;
}

.burger-menu {
	width: 40px;
	height: 40px;
}

nav {
	display: none;
	width: 100%;
}

nav ul {
	list-style: none;
	position: absolute;
	top: 5rem;
	width: 100%;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	background-color: var(--gris-03);
}

nav ul li a {
	text-decoration: none;
	color: white;
	font-size: 18px;
	padding-right: 2rem;
	line-height: 40px;
	transition: 0.3s ease-out;
	
}

nav ul li a:hover {
	color: #5FC0DC;
}

.active {
	color: #5FC0DC;
}
/* FIN NAVBAR */


/* .navbar-container {
	padding: 20px 20px 0 20px;
	background-color: #8edfd9;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #e4afaf;
}

.logo {
	width: 170px;
}

.burger-menu {
	width: 40px;
	height: 40px;
}

.navbar-items-container {
	background-color: #ffe1e1;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: .8rem;
	align-items: flex-end;
	justify-content: flex-start;
	width: 100%;
} */

/* FIN NAVBAR */

/*INICIO INDEX */
/*INICIO BANNER */
.banner {
	background-image: url(../images/banner.png);
	height: calc(70vh - 10vh);
	background-position: right 35% bottom 70%;
}

.banner-info {
	/* position: absolute;
	top: 35%;
	left: 5vw; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin-top: 30px;
}

.banner-caption {
	margin: 25px 0 25px 0;
}

.banner-caption {
	margin-bottom: 2rem;
}

.banner-btn {
	margin: auto;
}

.btn-know-us {
	display: none;
}
/* FIN BANNER */

/* INICIO WHY */
.why-container {
	margin-top: 70px;
}

.why-img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.why-title-mobile {
	margin-bottom: 30px;
	color: var(--red-primary);
}

.why-title-desktop {
	display: none;
}

.why-info {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.why-text {
	margin-bottom: 25px;
}
/* FIN WHY */

/* INICIO REQ */
.req-container {
	margin-top: 70px;
}

.req-title {
	margin-bottom: 25px;
}

.req-text {
	margin-bottom: 25px;
}

.req-imgs-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.req-info {
	width: 180px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.req-img {
	height: 100px;
}

.req-caption {
	font-size: 14px;
}
/* FIN REQ */

/* INICIO WHERE */
.where-container {
	margin-top: 50px;
	padding: 30px 20px;
	background-color: var(--red-primary);
}

.where-img {
	margin-top: 30px;
	width: 100%;
}

.where-info {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.where-title-mobile, .where-text {
	color: white;
	text-align: center;
}

.where-title-desktop {
	display: none;
}

.where-text {
	font-size: 16px;
	margin-bottom: 25px;
}
/* FIN WHERE */

/* INICIO CONTACT */
.contact-container {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact-info {
	text-align: center;
	margin-bottom: 25px;
}

.contact-title {
	margin-bottom: 25px;
	color: var(--red-primary);
}

.contact-img {
	display: none;
	/* height: 200px; */
}
/* FIN CONTACT */

/* INICIO FORM */
.form-container {
	text-align: center;
	width: 100%;
}

form {
	/* display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(8, 1fr); */
	justify-items: center;
	height: 100vh;
	
}

form > input {
	background-color: var(--red-06);
	height: 3rem;
	width: 100%;
	padding: .5rem;
	margin-bottom: 1.5rem;
	border: none;
}

textarea {
	/* grid-column: 1/3;
	grid-row: 7; */
	background-color: var(--red-06);
	width: 100%;
	border: none;
	padding: 1rem;
	height: 200px;
	font-family: 'Nunito', sans-serif;
}

.form-btn {
	/* grid-row: 8; */
	margin-top: 30px;
	border-radius: 2rem;
	width: 160px;
}
/* FIN FORM */

/* INICIO NEWS */
.news-container {
	
	padding: 50px 20px;
	background-color: var(--red-06);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.news-title {
	color: var(--red-primary);
}

.news-card-container {
	width: 100%;
	gap: 2rem;
}

.new-info {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.new-img, .new-card-title {
	margin-bottom: 25px;
	width: 100%;
}

.new-card-caption {
	margin-bottom: 25px;
}
/* FIN NEWS */

/* INICIO NEWSLETTER */
.newsletter-container {
	background-color: var(--turquesa-01);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
}

.newsletter-info {
	color: white;
}

.newsletter-title, .newsletter-caption {
	margin-bottom: 25px;
	text-align: center;
}

.newsletter-submit {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.newsletter-input {
	border-radius: 8px;
	border: none;
	height: 3rem;
	width: 100%;
	padding: 1rem;
	margin-bottom: 25px;
}
/* FIN NEWSLETTER */

/* INICIO FOOTER */
.footer-logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-logo {
	width: 50vw;
	margin-top: 25px;
}

.footer-items-container {
	padding: 30px 0;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer-items-container > div {
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: 15px 0;
}

.footer-items-container > div > a {
	margin: 5px 0;
}

.qr-code-container {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.qr-code {
	height: 80px;
}

.social-media {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.social-media > img {
	width: 10vw;
}

.legals-container {
	padding: 30px 0;
}
/* FIN FOOTER */
/* FIN HOME */

/* INICIO DONAR SANGRE */
.donate-container-info {
	display: flex;
	flex-direction: column;
}

.donate-title {
	margin-top: 50px;
}

.donate-caption {
	margin-top: 25px;
}

.where-search {
	font-family: "Inter", sans-serif;
	font-weight: 300;
	width: 100%;
	height: 50px;
	border-radius: 8px;
	border: none;
	padding: 1rem;
}

.where-container-db {
	margin-top: 50px;
	padding: 30px 20px;
	background-color: var(--turquesa-01);
}
/* FIN DONAR SANGRE */

/* INICIO TESTIMONIOS */

.testimonials-container-info {
	display: flex;
	flex-direction: column;
}

.testimonials-title {
	margin-top: 50px;
}

.testimonials-caption {
	margin-top: 25px;
}

.testimonial-card-container {
	margin: 50px 0;
}

.testimonial-card-body {
	border-radius: 10px;
	padding: 1.5rem;
	background-color: var(--turquesa-03);
}

.testimonial-name, .testimonial-position {
	margin-left: 30px;
}

.testimonial-card-info {
	display: flex;
	margin-bottom: 25px;
}

.testimonial-avatar-img {
	width: 52px;
}

/* FIN TESTIMONIOS */


/* Media queries */
@media (min-width: 1200px) {

h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito', sans-serif;
}

h1{
	font-size: 60px;
	font-weight: 900;
}

h2{
	font-size: 36px;
	font-weight: bold;
}

h3{
	font-size: 24px;
	font-weight: bold;
}

h4{
	font-size: 28px;
	font-weight: 700;
}

a {
	text-decoration: none;
	color: white;
}

p {
	font-size: 16px;
	line-height: 25px;
}

footer {
	background-color: var(--red-primary);
}

.text-red {
	color: var(--red-primary);
}

.text-white {
	color: white;
}

.legals {
	font-size: 14px;
}

.container {
	padding: 4rem 7.5rem;
	margin: auto;
}

/* Reglas globales de clase / componentes */

.btn {
	border-radius: 10px;
	font-weight: 500;
	color: white;
	border: none;
	font-size: 20px;
	cursor: pointer;
	padding: 8px;
	width: 180px;
	transition: .4s;
}

.btn:hover {
	transform: scale(1.03);
	font-weight: bold;
}

.primary-btn {
	background-color: var(--red-primary);
}

.primary-btn:hover {
	background-color: #C90018;
}

.second-btn {
	background-color: var(--turquesa-oscuro);
}

.second-btn:hover {
	background-color: #27A3A5;
}

.alternative-btn {
	background-color: white;
	color: var(--red-primary);
	border: 2px solid var(--red-primary);
}

.alternative-btn:hover {
	color: #C90018;
	border: 2px solid #C90018;
}

/* Reglas de clase específicas */

/* INICIO NAVBAR */
.navbar {
	height: 100px;
    padding: 0 50px;
}

.toggler {
    display: none;
}

nav {
    display: inline-block !important;
    position: relative;
    width: auto;
    height: 100%;
	width: 80%;
    padding: 5px 0;
}

nav ul {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	background-color: transparent;
}

nav ul li a {
	color: var(--gris-03);
	font-size: 18px;
	padding-right: 2rem;
}

nav ul li a:hover {
	color: var(--red-primary);
}

nav ul li {
    display: block;
    padding-right: 20px;
}
/* INICIO NAVBAR */


/* .navbar-container {
	padding: 20px 20px 0 20px;
	background-color: #8edfd9;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #e4afaf;
}

.logo {
	width: 170px;
}

.burger-menu {
	display: none;
}

.navbar-items-container {
	background-color: #ffe1e1;
	display: flex;
	flex-direction: row;
	padding: 1rem;
	gap: .8rem;
	align-items: flex-end;
	justify-content: flex-start;
	width: 100%;
}
 */
/* FIN NAVBAR */

/* FIN NAVBAR */

/*INICIO BANNER */
.banner {
	background-image: url(../images/banner.png);
	height: calc(100vh - 100px);
	position: relative;
	background-position: center;
}

.banner-info {
	position: absolute;
	top: 45vh;
	left: 5vw;
	width: 35vw;
	padding: 0;
}

.banner-title, .banner-caption {
	color: white;
	text-align: left;
}

.banner-caption {
	margin-bottom: 2rem;
}

.banner-btn {
	margin: 0;
}
/* FIN BANNER */


/* INICIO WHY */
.why-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	padding-bottom: 0;
}

.why-img {
	width: 700px;
	height: 400px;
	object-fit: cover;
}
.why-info {
	margin-left: 2rem;
	width: 40vw;
	align-items: flex-start;
}

.why-title-mobile {
	display: none;
}

.why-title-desktop {
	margin-bottom: 25px;
	display: block;
	text-align: center;
	color: var(--red-primary);
}

.why-text {
	margin-bottom: 2rem;
	margin-bottom: 80px;
}
/* FIN WHY */	


/* INICIO REQ DONATE */
.req-container {
	margin-top: 60px;
}

.req-title-text-info {
	width: 45vw;
	text-align: left;
}

.req-imgs-container {
	width: 100%;
	margin: auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.req-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	/* margin-right: 3rem; */
}

.req-img {
	height: 180px;
	width: auto;
}
/* FIN REQ DONATE */

/* INICIO WHERE */
.where-container {
	margin-top: 50px;
	padding: 30px 50px;
	background-color: var(--red-primary);
}

.where-content {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 25px;
}

.where-img {
	margin-top: 0;
	width: 50%;
}

.where-info {
	margin-top: 0;
	align-items: flex-start;
	width: 50%;
}

.where-title-desktop, .where-text {
	color: white;
	text-align: left;
}

.where-title-mobile {
	display: none;
}

.where-title-desktop {
	display: block;
	margin-bottom: 25px;
	width: 100%;
}

.where-text {
	font-size: 16px;
	margin-bottom: 80px;
}
/* FIN WHERE */


/* INICIO CONTACT */
.contact-container {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.contact-info {
	text-align: left;
	margin: 0 2rem 1.5rem 0;
	height: auto;
}

.contact-caption {
	width: 35vw;
}

.contact-title {
	margin-bottom: 25px;
	color: var(--red-primary);
}

.contact-img {
	display: block;
	height: 300px;
}
/* FIN CONTACT */

/* INICIO FORM */
.form-container {
	text-align: center;
}

form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, 1fr);
	justify-items: flex-start;
	height: 400px;
	grid-gap: 1rem;
	margin-bottom: 0;
}

form > input {
	height: 3rem;
	padding: .5rem;
	border: none;
	margin: 0;
}

.form-name {
    grid-row: 1;
}

.form-l-name{
	grid-row: 1/2;
}

.form-email {
	grid-row: 2;
}

.form-phone {
	grid-row: 2/2;
}

.form-city {
	grid-row: 3;
}

.form-country {
	grid-row: 3/3;
}

textarea {
	grid-column: 1/3;
	grid-row: 4;
	background-color: var(--red-06);
	width: 100%;
	border: none;
	padding: 1rem;
	height: 150px;
	font-family: 'Nunito', sans-serif;
}

.form-btn {
	margin-top: 30px;
	border-radius: 2rem;
	width: 160px;
	grid-column: 1;
	grid-row: 5;
}
/* FIN FORM */


/* INICIO NEWS */
.news-container {
	background-color: var(--red-06);
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.news-title {
	color: var(--red-primary);
	margin-bottom: 25px;
}

.news-card-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.new-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.new-img, .new-card-title {
	margin-bottom: 25px;
}

.new-card-caption {
	margin-bottom: 25px;
}
/* FIN NEWS */


/* INICIO NEWSLETTER */
	.newsletter-container {
		background-color: var(--turquesa-01);
		height: 260px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
	}

	.newsletter-info-container {
		color: white;
		width: 50vw;
	}

	.newsletter-submit {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
	
	.newsletter-title, .newsletter-caption {
	text-align: left;
	margin: 0 0 1rem 0;
	}

	.newsletter-input {
		margin: 0 1rem 0 0;
		border-radius: 8px;
		border: none;
		height: 2.5rem;
		width: 35vw;
		padding: 1rem;
	}
/* FIN NEWSLETTER */


/* INICIO FOOTER */
footer {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 1rem;
}

.footer-logo-container {
	align-items: flex-start;
}

.footer-logo {
	width: 200px;
	margin-top: 25px;
}

.footer-items-container {
	padding: 0;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	gap: 2rem;
}

.footer-items-container > div {
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: 15px 0;
}

.footer-items-container > div > a {
	margin: 10px 0;
	font-size: 1rem;
}

.qr-code-container {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 30px;
}

.qr-code {
	height: 100px;
}

.social-media {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.social-media > img {
	width: 40px;
}

.legals-container {
	padding: 30px 0;
	text-align: left;
}

.legals {
	text-align: left;
	font-size: 12px;
}
/* FIN FOOTER */

/* INICIO TESTIMONIOS */
	.testimonials-container-info {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.testimonials-img {
		width: 50%;
		height: 50%;
		order: 3;
		margin-left: 32px;
	}

	.testimonials-text-container {
		display: flex;
		flex-direction: column;
		width: 50%;
	}

	.testimonials-caption {
		text-align: left;
	}

	.testimonial-card-body {
		width: 50%;
		height: auto;
		text-align: left;
	}
	/* FIN TESTIMONIOS */

}